@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/*  */
/* Custom */

.custom-container {
  display: flex;
  align-items: center;
  padding: 2.5rem;
  gap: 2.5rem;
}

.inner-container {
  display: flex;
  gap: 2rem;
}

@media (max-width: 1280px) {
  .custom-container {
    padding: 1.25rem;
    gap: 1.25rem;
  }

  .inner-container {
    gap: 0.9rem;
  }
}


/*  */
/* Testimonials infinite vertical carousel */

.testimonials-slider {
  height: 40rem;
  margin: auto;
  position: relative;
  overflow: hidden;
}

.testimonials-slide-tracker {
  display: flex;
  flex-direction: column;
  height: calc(
    17.5rem * 8
  ); /* Height of a single slide * multiplied by total number of slides (total number after duplication) */
  animation: loop-scroll 30s linear infinite;
}

.testimonials-slide-tracker-faster {
  display: flex;
  flex-direction: column;
  height: calc(
    17.5rem * 8
  ); /* Height of a single slide * multiplied by total number of slides (total number after duplication) */
  animation: loop-scroll 22s linear infinite;
}

.testimonials-slide {
  height: 17.5rem;
}

@keyframes loop-scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(calc((-17.5rem - 2rem) * 4));
    /* (Height of a single slide - gap between slides) * total number of original slides*/
  }
}


/* For the gradients */
.testimonials-sliders-wrapper::before,
.testimonials-sliders-wrapper::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  height: 4rem;
  z-index: 1;
}

/* Top gradient */
.testimonials-sliders-wrapper::before {
  top: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
}

/* Bottom gradient */
.testimonials-sliders-wrapper::after {
  bottom: 0;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0)
  );
}








.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
    content: '' !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
    content: '' !important;
}

.swiper-button-next svg,
.swiper-button-prev svg {
    width: 24px !important;
    height: 24px !important;
}

.swiper-button-next,
.swiper-button-prev {
    position: relative !important;
}

.swiper-slide.swiper-slide-active {
    --tw-border-opacity: 1 !important;
    border-color: rgb(79 70 229 / var(--tw-border-opacity)) !important;
}

.swiper-slide.swiper-slide-active>.swiper-slide-active\:text-indigo-600 {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
}

.swiper-slide.swiper-slide-active>.flex .grid .swiper-slide-active\:text-indigo-600 {
    --tw-text-opacity: 1;
    color: rgb(79 70 229 / var(--tw-text-opacity));
}